# Market Insights Analysis

## Libraries Importing

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from tqdm import tqdm

import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import roc_auc_score, mean_squared_error
from sklearn.cluster import KMeans, DBSCAN, AgglomerativeClustering
import os
from scipy.cluster.hierarchy import dendrogram, linkage, cophenet, fcluster, cut_tree
from scipy.spatial.distance import pdist
from sklearn.metrics import recall_score
from sklearn.metrics import roc_curve, ConfusionMatrixDisplay, RocCurveDisplay, confusion_matrix
from sklearn.metrics import silhouette_score

from datetime import timedelta
from lifetimes.utils import summary_data_from_transaction_data, calibration_and_holdout_data
from lifetimes import BetaGeoFitter, GammaGammaFitter
from lifetimes.plotting import plot_probability_alive_matrix, plot_frequency_recency_matrix, plot_calibration_purchases_vs_holdout_purchases

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

from yellowbrick.cluster import KElbowVisualizer


import s3fs
import json
from sklearn.metrics.pairwise import cosine_similarity
import datetime as dt

from xgboost import XGBClassifier

import imblearn

import warnings
warnings.filterwarnings('ignore')

## Data Importing

In [2]:
sales = pd.read_csv('Data/Online_Sales.csv')
products = pd.read_csv('Data/products.csv') # extract unique product ID/name/group from table 'sales'
products.set_index('Product_SKU', inplace=True)
marketing = pd.read_csv('Data/Marketing_Spend.csv')
customer = pd.read_csv('Data/CustomersData.csv')
coupon = pd.read_csv('Data/Discount_Coupon.csv')
tax = pd.read_csv('Data/Tax_amount.csv')

## Data Overview

In [3]:
# sales data preview
sales.head()

,CustomerID,Transaction_ID,Transaction_Date,Product_SKU,Product_Description,Product_Category,Quantity,Avg_Price,Delivery_Charges,Coupon_Status
0,17850,16679,1/1/19,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,1,153.71,6.5,Used
1,17850,16680,1/1/19,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,1,153.71,6.5,Used
2,17850,16681,1/1/19,GGOEGFKQ020399,Google Laptop and Cell Phone Stickers,Office,1,2.05,6.5,Used
3,17850,16682,1/1/19,GGOEGAAB010516,Google Men's 100% Cotton Short Sleeve Hero Tee...,Apparel,5,17.53,6.5,Not Used
4,17850,16682,1/1/19,GGOEGBJL013999,Google Canvas Tote Natural/Navy,Bags,1,16.50,6.5,Used

In [4]:
#sales['Coupon_Status'].unique().value_counts()
np.unique(sales['Coupon_Status'], return_counts=True)

(array(['Clicked', 'Not Used', 'Used'], dtype=object),
 array([26926,  8094, 17904]))

In [5]:
coupon.head()

  Month Product_Category Coupon_Code  Discount_pct
0   Jan          Apparel      SALE10            10
1   Feb          Apparel      SALE20            20
2   Mar          Apparel      SALE30            30
3   Jan         Nest-USA      ELEC10            10
4   Feb         Nest-USA      ELEC20            20

In [6]:
# Summary of sales data
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52924 entries, 0 to 52923
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerID           52924 non-null  int64
 1   Transaction_ID       52924 non-null  int64
 2   Transaction_Date     52924 non-null  object
 3   Product_SKU          52924 non-null  object
 4   Product_Description  52924 non-null  object
 5   Product_Category     52924 non-null  object
 6   Quantity             52924 non-null  int64
 7   Avg_Price            52924 non-null  float64
 8   Delivery_Charges     52924 non-null  float64
 9   Coupon_Status        52924 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 4.0+ MB

In [7]:
# Count of rows for each product category in sales
sales['Product_Category'].value_counts()

Product_Category
Apparel                 18126
Nest-USA                14013
Office                   6513
Drinkware                3483
Lifestyle                3092
Nest                     2198
Bags                     1882
Headgear                  771
Notebooks & Journals      749
Waze                      554
Nest-Canada               317
Bottles                   268
Accessories               234
Fun                       160
Gift Cards                159
Housewares                122
Google                    105
Backpacks                  89
More Bags                  46
Android                    43
Name: count, dtype: int64

In [8]:
# Sales data statistics summary
sales.describe()

,CustomerID,Transaction_ID,Quantity,Avg_Price,Delivery_Charges
count,52924.00000,52924.000000,52924.000000,52924.000000,52924.000000
mean,15346.70981,32409.825675,4.497638,52.237646,10.517630
std,1766.55602,8648.668977,20.104711,64.006882,19.475613
min,12346.00000,16679.000000,1.000000,0.390000,0.000000
25%,13869.00000,25384.000000,1.000000,5.700000,6.000000
50%,15311.00000,32625.500000,1.000000,16.990000,6.000000
75%,16996.25000,39126.250000,2.000000,102.130000,6.500000
max,18283.00000,48497.000000,900.000000,355.740000,521.360000

In [9]:
# Products data preview
products.head()

,Product_Category,Product_Description
Product_SKU,,
GGOENEBJ079499,Nest-USA,Nest Learning Thermostat 3rd Gen-USA - Stainle...
GGOEGFKQ020399,Office,Google Laptop and Cell Phone Stickers
GGOEGAAB010516,Apparel,Google Men's 100% Cotton Short Sleeve Hero Tee...
GGOEGBJL013999,Bags,Google Canvas Tote Natural/Navy
GGOEGBMJ013399,Bags,Sport Bag

In [10]:
# Marketing data preview
marketing.head()

     Date  Offline_Spend  Online_Spend
0  1/1/19           4500       2424.50
1  1/2/19           4500       3480.36
2  1/3/19           4500       1576.38
3  1/4/19           4500       2928.55
4  1/5/19           4500       4055.30

In [11]:
# Summary of marketing data
marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           365 non-null    object
 1   Offline_Spend  365 non-null    int64
 2   Online_Spend   365 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 8.7+ KB

In [12]:
# Statistics summary of marketing data
marketing.describe()

       Offline_Spend  Online_Spend
count     365.000000    365.000000
mean     2843.561644   1905.880740
std       952.292448    808.856853
min       500.000000    320.250000
25%      2500.000000   1258.600000
50%      3000.000000   1881.940000
75%      3500.000000   2435.120000
max      5000.000000   4556.930000

In [ ]:
marketing['Offline_Spend'].rename['Offline_Expenditure']

In [13]:
# Customer data previewing
customer.head()

   CustomerID Gender    Location  Tenure_Months
0       17850      M     Chicago             12
1       13047      M  California             43
2       12583      M     Chicago             33
3       13748      F  California             30
4       15100      M  California             49

In [14]:
# Summary of customer data
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1468 entries, 0 to 1467
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     1468 non-null   int64
 1   Gender         1468 non-null   object
 2   Location       1468 non-null   object
 3   Tenure_Months  1468 non-null   int64
dtypes: int64(2), object(2)
memory usage: 46.0+ KB

In [15]:
# Statistics summary of customer data
customer.describe()

         CustomerID  Tenure_Months
count   1468.000000    1468.000000
mean   15314.386240      25.912125
std     1744.000367      13.959667
min    12346.000000       2.000000
25%    13830.500000      14.000000
50%    15300.000000      26.000000
75%    16882.250000      38.000000
max    18283.000000      50.000000

In [16]:
# Coupon data preview
coupon.head()

  Month Product_Category Coupon_Code  Discount_pct
0   Jan          Apparel      SALE10            10
1   Feb          Apparel      SALE20            20
2   Mar          Apparel      SALE30            30
3   Jan         Nest-USA      ELEC10            10
4   Feb         Nest-USA      ELEC20            20

In [17]:
# Summary of coupon data
coupon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Month             204 non-null    object
 1   Product_Category  204 non-null    object
 2   Coupon_Code       204 non-null    object
 3   Discount_pct      204 non-null    int64
dtypes: int64(1), object(3)
memory usage: 6.5+ KB

In [18]:
# Statistics summary of coupon data
coupon.describe()

       Discount_pct
count    204.000000
mean      20.000000
std        8.185052
min       10.000000
25%       10.000000
50%       20.000000
75%       30.000000
max       30.000000

In [19]:
# Tax data preview
tax.head()

  Product_Category  GST
0         Nest-USA  10%
1           Office  10%
2          Apparel  18%
3             Bags  18%
4        Drinkware  18%

In [20]:
# Convert GST column percentage value to deceimal
def convert_percentage_to_decimal(percentage):
    # Remove '%' sign and convert the string to a decimal representation
    return float(percentage.replace('%', '')) / 100

# Apply the function to the 'GST' column in the DataFrame
tax['GST'] = tax['GST'].apply(convert_percentage_to_decimal)

In [21]:
# Summary of tax data
tax.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_Category  20 non-null     object
 1   GST               20 non-null     float64
dtypes: float64(1), object(1)
memory usage: 448.0+ bytes

In [22]:
# Statistics summary of tax data
tax.describe()

             GST
count  20.000000
mean    0.116500
std     0.052443
min     0.050000
25%     0.087500
50%     0.100000
75%     0.180000
max     0.180000

## Data Cleaning

In [23]:
# Merge customer data to sales data on CustomerID
sales = sales.merge(customer, on='CustomerID')

In [24]:
# Change Transaction_Date column to datetime
sales['Transaction_Date'] = pd.to_datetime(sales['Transaction_Date'])

In [25]:
# Change Transaction_Date column to format month/date/year
sales['Transaction_Date'] = pd.to_datetime(sales['Transaction_Date'], format='%m/%d/%Y')

In [26]:
# Create new column 'Month' that extracts month abbreviation from Transaction_Date
sales['Month'] = sales['Transaction_Date'].dt.strftime('%b')

In [27]:
# Create a new column 'InvoiceMonthly' by converting 'Transaction_Date' to a monthly frequency period ('M'),
# then converting it back to 'datetime64[ns]' format to represent the start date of each month
sales['InvoiceMonthly'] = sales['Transaction_Date'].dt.to_period('M').dt.to_timestamp('M') #Convert back to 'datetime64[ns]'

# Create a new column 'InvoiceDaily' by converting 'Transaction_Date' to a daily frequency period ('D'),
# then converting it back to 'datetime64[ns]' format to retain the transaction dates at the daily level.
sales['InvoiceDaily'] = sales['Transaction_Date'].dt.to_period('D').dt.to_timestamp('D') #Convert back to 'datetime64[ns]'

In [28]:
# Change Date column to datetime
marketing['Date'] = pd.to_datetime(marketing['Date'])

In [29]:
# Change marketing's Date column to format month/date/year
marketing['Date'] = pd.to_datetime(marketing['Date'], format='%m/%d/%Y')
# Create new column 'Month' that extracts month abbreviation from Date
marketing['Month'] = marketing['Date'].dt.strftime('%b')
# Create new column 'total_spend' which sums offline_spend and online_spend
marketing['total_spend'] = marketing['Offline_Spend'] + marketing['Online_Spend']

In [30]:
# Left join sales and coupon data on Month and Product_Category
sales = pd.merge(sales, coupon, on=['Month', 'Product_Category'], how='left')
# Left join sales and tax data on Product_Category 
sales = pd.merge(sales, tax, on=['Product_Category'], how = 'left')

In [31]:
# Fill Discount_pct column with 0
sales['Discount_pct'].fillna(0, inplace=True)

In [32]:
# Calculate total revenue

# Define a function 'calculate_invoice' to compute the invoice amount
def calculate_invoice(row):
    # If 'Coupon_Status' is 'Used', it calculates the invoice with quantity, average price, discount percentage, GST, and delivery charges.
    if row['Coupon_Status'] == 'Used':
        invoice = ((row['Quantity'] * row['Avg_Price']) * (1 - row['Discount_pct']/100) * (1 + row['GST'])) + row['Delivery_Charges']
    else:
    # If 'Coupon_Status' is not 'Used', it calculates the invoice with quantity, average price, GST, and delivery charges.
        invoice = ((row['Quantity'] * row['Avg_Price']) * (1 + row['GST'])) + row['Delivery_Charges']
    return invoice

# Apply the 'calculate_invoice' function to each row of the 'sales' DataFrame using the apply function with axis=1.
# This computes the 'Revenue' column by calculating the invoice amount for each row.
sales['Revenue'] = sales.apply(lambda row: calculate_invoice(row), axis=1)

In [33]:
# Preview sales data to check the outcome of Revenue column
sales.head()

,CustomerID,Transaction_ID,Transaction_Date,Product_SKU,Product_Description,Product_Category,Quantity,Avg_Price,Delivery_Charges,Coupon_Status,Gender,Location,Tenure_Months,Month,InvoiceMonthly,InvoiceDaily,Coupon_Code,Discount_pct,GST,Revenue
0,17850,16679,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,1,153.71,6.5,Used,M,Chicago,12,Jan,2019-01-31,2019-01-01,ELEC10,10.0,0.10,158.6729
1,17850,16680,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,1,153.71,6.5,Used,M,Chicago,12,Jan,2019-01-31,2019-01-01,ELEC10,10.0,0.10,158.6729
2,17850,16681,2019-01-01,GGOEGFKQ020399,Google Laptop and Cell Phone Stickers,Office,1,2.05,6.5,Used,M,Chicago,12,Jan,2019-01-31,2019-01-01,OFF10,10.0,0.10,8.5295
3,17850,16682,2019-01-01,GGOEGAAB010516,Google Men's 100% Cotton Short Sleeve Hero Tee...,Apparel,5,17.53,6.5,Not Used,M,Chicago,12,Jan,2019-01-31,2019-01-01,SALE10,10.0,0.18,109.9270
4,17850,16682,2019-01-01,GGOEGBJL013999,Google Canvas Tote Natural/Navy,Bags,1,16.50,6.5,Used,M,Chicago,12,Jan,2019-01-31,2019-01-01,AIO10,10.0,0.18,24.0230

In [34]:
# Get unique product descriptions
unique_product_descriptions = sales['Product_Description'].unique()

# Sort unique product descriptions alphabetically
sorted_unique_product_descriptions = sorted(unique_product_descriptions)

# Print sorted unique product descriptions
print("Unique Product Descriptions (Sorted Alphabetically):")
for description in sorted_unique_product_descriptions:
    print(description)

Unique Product Descriptions (Sorted Alphabetically):
1 oz Hand Sanitizer
20 oz Stainless Steel Insulated Tumbler
22 oz Android Bottle
22 oz YouTube Bottle Infuser
23 oz Wide Mouth Sport Bottle
24 oz YouTube Sergeant Stripe Bottle
25L Classic Rucksack
26 oz Double Wall Insulated Bottle
7&quot; Dog Frisbee
8 pc Android Sticker Sheet
Android 17oz Stainless Steel Sport Bottle
Android 24 oz Contigo Bottle
Android 25 oz Green Apple Stainless Steel Bottle
Android 5-Panel Low Cap
Android BTTF Cosmos Graphic Tee
Android BTTF Moonshot Graphic Tee
Android Baby Esssentials Set
Android Glass Water Bottle with Black Sleeve
Android Hard Cover Journal
Android Heavyweight Long Sleeve Badge Tee Black
Android Infant Short Sleeve Tee Aqua
Android Infant Short Sleeve Tee Pewter
Android Infant Short Sleeve Tee Pink
Android Journal Book Set
Android Large Removable Sticker Sheet
Android Lifted Men's Short Sleeve Tee Blue
Android Luggage Tag
Android Lunch Kit
Android Matrix Tee White
Android Men's  Zip Hoodie
Android Men's 3/4 Sleeve Raglan Henley Black
Android Men's Engineer Short Sleeve Tee Charcoal
Android Men's Long & Lean Badge Tee Charcoal
Android Men's Long Sleeve Badge Crew Tee Heather
Android Men's Outerstellar Short Sleeve Tee Black
Android Men's Paradise Short Sleeve Tee Olive
Android Men's Pep Rally Short Sleeve Tee Navy
Android Men's Short Sleeve Hero Tee Heather
Android Men's Short Sleeve Hero Tee White
Android Men's Short Sleeve Tri-blend Hero Tee Grey
Android Men's Skater Badge Tee Charcoal
Android Men's Take Charge Short Sleeve Tee Purple
Android Men's Vintage Henley
Android Men's Vintage Tank
Android Men's Vintage Tee
Android Onesie Baby Blue
Android Onesie Gold
Android Onesie Sprout Green
Android RFID Journal
Android Rise 14 oz Mug
Android Small Removable Sticker Sheet
Android Spiral Journal with Pen
Android Sticker Sheet Ultra Removable
Android Stretch Fit Hat
Android Stretch Fit Hat L/XL
Android Stretch Fit Hat M/L
Android Stretch Fit Hat S/M
Android Toddler Short Sleeve T-shirt Aqua
Android Toddler Short Sleeve T-shirt Pewter
Android Toddler Short Sleeve T-shirt Pink
Android Tone Hoodie Black
Android Twill Cap
Android Women's Dash Tee Grey
Android Women's Fleece Hoodie
Android Women's Long Sleeve Blended Cardigan Grey
Android Women's Peace Tee Black
Android Women's Racer Back Tank Black
Android Women's Short Sleeve Badge Tee Light Charcoal
Android Women's Short Sleeve Tri-blend Badge Tee Light Blue
Android Wool Heather Cap Heather/Black
Android Youth Short Sleeve T-shirt Aqua
Android Youth Short Sleeve T-shirt Pewter
BLM Sweatshirt
Badge Holder
Ballpoint LED Light Pen
Ballpoint Pen & Matching Tube Case
Ballpoint Pen Blue
Ballpoint Stick Pen 4 Pack
Ballpoint Stylus Pen
Bottle Opener Clip
Collapsible Shopping Bag
Color Changing Grip Pen
Colored Pencil Set
Compact Journal with Recycled Pages
Compact Selfie Stick
Crunch Noise Dog Toy
Electronics Accessory Pouch
Emoji Sticker Sheet
Engraved Ceramic Google Mug
Executive Twist Ballpoint Pen
Foam Can and Bottle Cooler
Four Color Retractable Pen
Galaxy Screen Cleaning Cloth
Gel Roller Pen
Gift Card - $10.00
Gift Card - $25.00
Gift Card - $250.00
Gift Card - $50.00
Gift Card- $100.00
Google 17 oz Double Wall Stainless Steel Insulated Bottle
Google 17oz Stainless Steel Sport Bottle
Google 22 oz Water Bottle
Google 25 oz Blue Stainless Steel Bottle
Google 25 oz Clear Stainless Steel Bottle
Google 25 oz Red Stainless Steel Bottle
Google 3/4 Sleeve Raglan Badge Henley Black
Google 40 oz Insulated Monster Bottle
Google 5-Panel Cap
Google 5-Panel Snapback Cap
Google Accent Insulated Stainless Steel Bottle
Google Alpine Style Backpack
Google Baby Essentials Set
Google Ballpoint Pen Black
Google Blackout Cap
Google Braille Tee Black
Google Canvas Tote Natural/Navy
Google Collapsible Duffel Black
Google Collapsible Duffel Blue
Google Collapsible Pet Bowl
Google Crew Sweater Navy
Google Crewneck Sweatshirt Navy
Google Doodle Decal
Google Emoji Sticker Pack
Google Executive Umbrella
Google Flower Tee Purple
Google French Terry Cap
Google Hard Cover Journal
Google Hub Mug White
Google Infant Short Sleeve Tee Cornflower Blue
Google Infant Short Sleeve Tee Green
Google Infant Short Sleeve Tee Red
Google Infant Short Sleeve Tee Royal Blue
Google Infant Short Sleeve Tee White
Google Infant Zip Hood Pink
Google Infant Zip Hood Royal Blue
Google Infuser-Top Water Bottle
Google Insulated Stainless Steel Bottle
Google Kick Ball
Google Laptop Backpack
Google Laptop Tech Backpack
Google Laptop and Cell Phone Stickers
Google Large Standard Journal Grey
Google Large Standard Journal Navy
Google Leather Journal-Black
Google Leather Journal-Brown
Google Leather Perforated Journal
Google Luggage Tag
Google Lunch Bag
Google Men's  Zip Hoodie
Google Men's 100% Cotton Short Sleeve Hero Tee Black
Google Men's 100% Cotton Short Sleeve Hero Tee Navy
Google Men's 100% Cotton Short Sleeve Hero Tee Red
Google Men's 100% Cotton Short Sleeve Hero Tee White
Google Men's 3/4 Sleeve Raglan Henley Grey
Google Men's Airflow 1/4 Zip Pullover Black
Google Men's Airflow 1/4 Zip Pullover Lapis
Google Men's Around The Block Short Sleeve Tee Ash
Google Men's Bayside Graphic Tee
Google Men's Bike Short Sleeve Tee Charcoal
Google Men's Colorblock Tee White/Heather
Google Men's Convertible Vest-Jacket Pewter
Google Men's Heavyweight Long Sleeve Hero Tee Burgundy
Google Men's Heavyweight Long Sleeve Hero Tee Navy
Google Men's Lightweight Microfleece Jacket Black
Google Men's Long & Lean Tee Charcoal
Google Men's Long & Lean Tee Grey
Google Men's Long Sleeve Pullover Badge Tee Heather
Google Men's Long Sleeve Raglan Cranberry
Google Men's Long Sleeve Raglan Ocean Blue
Google Men's Microfiber 1/4 Zip Pullover Blue/Indigo
Google Men's Microfiber 1/4 Zip Pullover Grey/Black
Google Men's Performance 1/4 Zip Pullover Heather/Black
Google Men's Performance Full Zip Jacket Black
Google Men's Performance Hero Tee Gunmetal
Google Men's Performance Polo Grey/Black
Google Men's Pullover Hoodie Grey
Google Men's Quilted Insulated Vest Battleship Grey
Google Men's Quilted Insulated Vest Black
Google Men's Short Sleeve Badge Tee Charcoal
Google Men's Short Sleeve Hero Tee Charcoal
Google Men's Short Sleeve Hero Tee Heather
Google Men's Short Sleeve Hero Tee Light Blue
Google Men's Short Sleeve Performance Badge Tee Black
Google Men's Short Sleeve Performance Badge Tee Charcoal
Google Men's Short Sleeve Performance Badge Tee Navy
Google Men's Short Sleeve Performance Badge Tee Pewter
Google Men's Skater Tee Grey
Google Men's Vintage Badge Tee Black
Google Men's Vintage Badge Tee Sage
Google Men's Vintage Badge Tee White
Google Men's Vintage Tank
Google Men's Watershed Full Zip Hoodie Grey
Google Metallic Notebook Set
Google Onesie Green
Google Onesie Red
Google Onesie Red/Graphite
Google Onesie Royal Blue
Google Pet Feeding Mat
Google Protector Tee Navy
Google RFID Journal
Google Rolltop Backpack Blue
Google Rucksack
Google Slim Utility Travel Bag
Google Snapback Black Cap
Google Snapback Hat Black
Google Snapback Navy Cap
Google Spiral Journal with Pen
Google Spiral Leather Journal
Google Stretch Fit Hat L/XL Navy
Google Stretch Fit Hat M/L Navy
Google Stretch Fit Hat S/M Navy
Google Stylus Pen w/ LED Light
Google Sunglasses
Google Tee Blue
Google Tee Green
Google Tee Red
Google Tee Yellow
Google Thermal Bottle Blue
Google Thermal Bottle Green
Google Thermal Bottle Red
Google Thermal Bottle Yellow
Google Toddler 1/4 Zip Fleece Pewter
Google Toddler Hoodie Royal Blue
Google Toddler Raglan Shirt Blue Heather/Navy
Google Toddler Short Sleeve T-shirt Green
Google Toddler Short Sleeve T-shirt Grey
Google Toddler Short Sleeve T-shirt Royal Blue
Google Toddler Short Sleeve T-shirt Yellow
Google Toddler Short Sleeve Tee Red
Google Toddler Short Sleeve Tee White
Google Toddler Sports T-shirt Red
Google Tote Bag
Google Tri-blend Hoodie Grey
Google Trike Tee Black
Google Trucker Hat
Google Twill Cap
Google Vintage Henley Grey/Black
Google White Force 17 oz Bottle
Google Women's 1/4 Zip Jacket Charcoal
Google Women's 1/4 Zip Performance Pullover Black
Google Women's 1/4 Zip Performance Pullover Two-Tone Blue
Google Women's Coder Tee Navy
Google Women's Colorblock Tee White
Google Women's Convertible Vest-Jacket Black
Google Women's Convertible Vest-Jacket Sea Foam Green
Google Women's Fleece Hoodie
Google Women's Lightweight Microfleece Jacket
Google Women's Long Sleeve Blended Cardigan Charcoal
Google Women's Long Sleeve Tee Lavender
Google Women's Performance Golf Polo Blue
Google Women's Performance Hero Tee Gunmetal
Google Women's Performance Polo Grey/Black
Google Women's Quilted Insulated Vest Black
Google Women's Quilted Insulated Vest White
Google Women's Scoop Neck Tee Black
Google Women's Scoop Neck Tee Green
Google Women's Scoop Neck Tee White
Google Women's Shell Jacket Blue/Black
Google Women's Short Sleeve Badge Tee Grey
Google Women's Short Sleeve Badge Tee Navy
Google Women's Short Sleeve Badge Tee Red Heather
Google Women's Short Sleeve Hero Dark Grey
Google Women's Short Sleeve Hero Tee Black
Google Women's Short Sleeve Hero Tee Grey
Google Women's Short Sleeve Hero Tee Heather
Google Women's Short Sleeve Hero Tee Red Heather
Google Women's Short Sleeve Hero Tee Sky Blue
Google Women's Short Sleeve Hero Tee White
Google Women's Short Sleeve Performance Tee Black
Google Women's Short Sleeve Performance Tee Charcoal
Google Women's Short Sleeve Performance Tee Navy
Google Women's Short Sleeve Performance Tee Pewter
Google Women's Softshell Jacket Black/Grey
Google Women's Tee Grey
Google Women's Vintage Hero Tee Black
Google Women's Vintage Hero Tee Lavender
Google Women's Vintage Hero Tee Platinum
Google Women's Vintage Hero Tee White
Google Women's Yoga Jacket Black
Google Women's Yoga Pants
Google Women's Zip Hoodie Grey
Google Womens 3/4 Sleeve Baseball Raglan Heather/Black
Google Wool Heather Cap Heather/Navy
Google Youth Baseball Raglan Heather/Black
Google Youth Girl Hoodie
Google Youth Girl Tee Green
Google Youth Short Sleeve T-shirt Green
Google Youth Short Sleeve T-shirt Royal Blue
Google Youth Short Sleeve T-shirt Yellow
Google Youth Short Sleeve Tee Red
Google Youth Short Sleeve Tee White
Google Youth Sports Tee Navy
Google Zip Hoodie Black
Google Zipper-front Sports Bag
Grip Highlighter Pen 3 Pack
Gunmetal Roller Ball Pen
Insulated Bottle
Keyboard DOT Sticker
Large Zipper Top Tote Bag
Leather and Metal Ballpoint Pen
Leatherette Journal
Maze Pen
Men's Softshell Jacket Black/Grey
Men's Weatherblock Shell Jacket Black
Metal Texture Roller Pen
Nest  Thermostat E - CA
Nest Cam IQ - CA
Nest Cam IQ - USA
Nest Cam IQ Outdoor - USA (Preorder)
Nest Cam Indoor Security Camera - CA
Nest Cam Indoor Security Camera - USA
Nest Cam Outdoor Security Camera - CA
Nest Cam Outdoor Security Camera - USA
Nest Detect - USA
Nest Learning Thermostat 3rd Gen - CA - Stainless Steel
Nest Learning Thermostat 3rd Gen-USA - Copper
Nest Learning Thermostat 3rd Gen-USA - Stainless Steel
Nest Learning Thermostat 3rd Gen-USA - White
Nest Protect Smoke + CO Black Battery Alarm-USA
Nest Protect Smoke + CO Black Wired Alarm-USA
Nest Protect Smoke + CO White Battery Alarm - CA
Nest Protect Smoke + CO White Battery Alarm-USA
Nest Protect Smoke + CO White Wired Alarm - CA
Nest Protect Smoke + CO White Wired Alarm-USA
Nest Secure Alarm System Starter Pack - USA
Nest Tag - USA
Nest Thermostat E - USA
Pen Pencil & Highlighter Set
Rainbow Stylus Pen
Recycled Paper Journal Set
Red Shine 15 oz Mug
Red Spiral Google Notebook
Retractable Ballpoint Pen Red
Reusable Shopping Bag
Rubber Grip Ballpoint Pen 4 Pack
SPF-15 Slim & Slender Lip Balm
Satin Black Ballpoint Pen
Seat Pack Organizer
Softsided Travel Pouch Set
Spiral Notebook and Pen Set
Sport Bag
Straw Beach Mat
Suitcase Organizer Cubes
Switch Tone Color Crayon Pen
UpCycled Bike Saddle Bag
UpCycled Handlebar Bag
Waterproof Backpack
Waterproof Gear Bag
Waze Baby on Board Window Decal
Waze Dress Socks
Waze Men's Short Sleeve Tee
Waze Men's Typography Short Sleeve Tee
Waze Mobile Phone Vent Mount
Waze Mood Happy Window Decal
Waze Mood Ninja Window Decal
Waze Mood Original Window Decal
Waze Pack of 9 Decal Set
Waze Women's Short Sleeve Tee
Waze Women's Typography Short Sleeve Tee
Windup Android
Women's Performance Full Zip Jacket Black
Women's Weatherblock Shell Jacket Black
Yoga Block
Yoga Mat Blue
Yoga Mat Purple
You Tube Toddler Short Sleeve Tee Red
YouTube 3 lines Tee Grey
YouTube Custom Decals
YouTube Hard Cover Journal
YouTube Infant Short Sleeve Tee Red
YouTube Kids Onesie White
YouTube Kids Tee Black
YouTube Kids Tee White
YouTube Leatherette Notebook Combo
YouTube Luggage Tag
YouTube Men's 3/4 Sleeve Henley
YouTube Men's Fleece Hoodie Black
YouTube Men's Long & Lean Tee Charcoal
YouTube Men's Long Sleeve Pullover Badge Tee Heather
YouTube Men's Short Sleeve Hero Tee  White
YouTube Men's Short Sleeve Hero Tee Black
YouTube Men's Short Sleeve Hero Tee Charcoal
YouTube Men's Short Sleeve Hero Tee White
YouTube Men's Skater Tee Charcoal
YouTube Men's Vintage Henley
YouTube Men's Vintage Tank
YouTube Men's Vintage Tee
YouTube Notebook and Pen Set
YouTube Onesie Heather
YouTube RFID Journal
YouTube Spiral Journal with Pen
YouTube Tee Black
YouTube Transmission Journal Black
YouTube Trucker Hat
YouTube Twill Cap
YouTube Women's Favorite Tee White
YouTube Women's Fleece Hoodie Black
YouTube Women's Racer Back Tank Black
YouTube Women's Short Sleeve Hero Tee Charcoal
YouTube Women's Short Sleeve Tri-blend Badge Tee Charcoal
YouTube Women's Short Sleeve Tri-blend Badge Tee Grey
YouTube Womens 3/4 Sleeve Baseball Raglan White/Black
YouTube Wool Heather Cap Heather/Black
YouTube Youth Short Sleeve Tee Red

In [35]:
# Get unique product descriptions
unique_product_category = sales['Product_Category'].unique()

# Sort unique product descriptions alphabetically
sorted_unique_product_cateogry = sorted(unique_product_category)

# Print sorted unique product descriptions
print("Unique Product Categories (Sorted Alphabetically):")
for category in sorted_unique_product_cateogry:
    print(category)

Unique Product Categories (Sorted Alphabetically):
Accessories
Android
Apparel
Backpacks
Bags
Bottles
Drinkware
Fun
Gift Cards
Google
Headgear
Housewares
Lifestyle
More Bags
Nest
Nest-Canada
Nest-USA
Notebooks & Journals
Office
Waze

In [36]:
# List of unique product categories
unique_categories = sorted(sales['Product_Category'].unique())

# Iterate through each category and print unique product descriptions
for category in unique_categories:
    # Get unique product descriptions for the current category
    unique_products_category = sales[sales['Product_Category'] == category]['Product_Description'].unique()
    
    # Sort unique product descriptions alphabetically
    sorted_unique_products_category = sorted(unique_products_category)
    
    # Print category header
    print(f"\nUnique Products in Category '{category}' (Sorted Alphabetically):")
    
    # Print sorted unique product descriptions for the current category
    for product in sorted_unique_products_category:
        print(product)

Unique Products in Category 'Accessories' (Sorted Alphabetically):
Android Large Removable Sticker Sheet
Android Small Removable Sticker Sheet
Emoji Sticker Sheet
Google Emoji Sticker Pack
UpCycled Bike Saddle Bag
UpCycled Handlebar Bag
Waze Pack of 9 Decal Set

Unique Products in Category 'Android' (Sorted Alphabetically):
Android Men's Paradise Short Sleeve Tee Olive

Unique Products in Category 'Apparel' (Sorted Alphabetically):
Android 5-Panel Low Cap
Android BTTF Cosmos Graphic Tee
Android BTTF Moonshot Graphic Tee
Android Baby Esssentials Set
Android Heavyweight Long Sleeve Badge Tee Black
Android Infant Short Sleeve Tee Aqua
Android Infant Short Sleeve Tee Pewter
Android Infant Short Sleeve Tee Pink
Android Lifted Men's Short Sleeve Tee Blue
Android Matrix Tee White
Android Men's  Zip Hoodie
Android Men's 3/4 Sleeve Raglan Henley Black
Android Men's Engineer Short Sleeve Tee Charcoal
Android Men's Long & Lean Badge Tee Charcoal
Android Men's Long Sleeve Badge Crew Tee Heather
Android Men's Outerstellar Short Sleeve Tee Black
Android Men's Pep Rally Short Sleeve Tee Navy
Android Men's Short Sleeve Hero Tee Heather
Android Men's Short Sleeve Hero Tee White
Android Men's Short Sleeve Tri-blend Hero Tee Grey
Android Men's Skater Badge Tee Charcoal
Android Men's Take Charge Short Sleeve Tee Purple
Android Men's Vintage Henley
Android Men's Vintage Tank
Android Men's Vintage Tee
Android Onesie Baby Blue
Android Onesie Gold
Android Onesie Sprout Green
Android Stretch Fit Hat
Android Toddler Short Sleeve T-shirt Aqua
Android Toddler Short Sleeve T-shirt Pewter
Android Toddler Short Sleeve T-shirt Pink
Android Tone Hoodie Black
Android Twill Cap
Android Women's Dash Tee Grey
Android Women's Fleece Hoodie
Android Women's Long Sleeve Blended Cardigan Grey
Android Women's Peace Tee Black
Android Women's Racer Back Tank Black
Android Women's Short Sleeve Badge Tee Light Charcoal
Android Women's Short Sleeve Tri-blend Badge Tee Light Blue
Android Youth Short Sleeve T-shirt Aqua
Android Youth Short Sleeve T-shirt Pewter
BLM Sweatshirt
Google 3/4 Sleeve Raglan Badge Henley Black
Google Baby Essentials Set
Google Braille Tee Black
Google Crew Sweater Navy
Google Crewneck Sweatshirt Navy
Google Flower Tee Purple
Google Infant Short Sleeve Tee Cornflower Blue
Google Infant Short Sleeve Tee Green
Google Infant Short Sleeve Tee Red
Google Infant Short Sleeve Tee Royal Blue
Google Infant Short Sleeve Tee White
Google Infant Zip Hood Pink
Google Infant Zip Hood Royal Blue
Google Men's  Zip Hoodie
Google Men's 100% Cotton Short Sleeve Hero Tee Black
Google Men's 100% Cotton Short Sleeve Hero Tee Navy
Google Men's 100% Cotton Short Sleeve Hero Tee Red
Google Men's 100% Cotton Short Sleeve Hero Tee White
Google Men's 3/4 Sleeve Raglan Henley Grey
Google Men's Airflow 1/4 Zip Pullover Black
Google Men's Airflow 1/4 Zip Pullover Lapis
Google Men's Around The Block Short Sleeve Tee Ash
Google Men's Bayside Graphic Tee
Google Men's Bike Short Sleeve Tee Charcoal
Google Men's Colorblock Tee White/Heather
Google Men's Convertible Vest-Jacket Pewter
Google Men's Heavyweight Long Sleeve Hero Tee Burgundy
Google Men's Heavyweight Long Sleeve Hero Tee Navy
Google Men's Lightweight Microfleece Jacket Black
Google Men's Long & Lean Tee Charcoal
Google Men's Long & Lean Tee Grey
Google Men's Long Sleeve Pullover Badge Tee Heather
Google Men's Long Sleeve Raglan Cranberry
Google Men's Long Sleeve Raglan Ocean Blue
Google Men's Microfiber 1/4 Zip Pullover Blue/Indigo
Google Men's Microfiber 1/4 Zip Pullover Grey/Black
Google Men's Performance 1/4 Zip Pullover Heather/Black
Google Men's Performance Full Zip Jacket Black
Google Men's Performance Hero Tee Gunmetal
Google Men's Performance Polo Grey/Black
Google Men's Pullover Hoodie Grey
Google Men's Quilted Insulated Vest Battleship Grey
Google Men's Quilted Insulated Vest Black
Google Men's Short Sleeve Badge Tee Charcoal
Google Men's Short Sleeve Hero Tee Charcoal
Google Men's Short Sleeve Hero Tee Heather
Google Men's Short Sleeve Hero Tee Light Blue
Google Men's Short Sleeve Performance Badge Tee Black
Google Men's Short Sleeve Performance Badge Tee Charcoal
Google Men's Short Sleeve Performance Badge Tee Navy
Google Men's Short Sleeve Performance Badge Tee Pewter
Google Men's Skater Tee Grey
Google Men's Vintage Badge Tee Black
Google Men's Vintage Badge Tee Sage
Google Men's Vintage Badge Tee White
Google Men's Vintage Tank
Google Men's Watershed Full Zip Hoodie Grey
Google Onesie Green
Google Onesie Red
Google Onesie Red/Graphite
Google Onesie Royal Blue
Google Protector Tee Navy
Google Tee Blue
Google Tee Green
Google Tee Red
Google Tee Yellow
Google Toddler 1/4 Zip Fleece Pewter
Google Toddler Hoodie Royal Blue
Google Toddler Raglan Shirt Blue Heather/Navy
Google Toddler Short Sleeve T-shirt Green
Google Toddler Short Sleeve T-shirt Grey
Google Toddler Short Sleeve T-shirt Royal Blue
Google Toddler Short Sleeve T-shirt Yellow
Google Toddler Short Sleeve Tee Red
Google Toddler Short Sleeve Tee White
Google Toddler Sports T-shirt Red
Google Tri-blend Hoodie Grey
Google Trike Tee Black
Google Twill Cap
Google Vintage Henley Grey/Black
Google Women's 1/4 Zip Jacket Charcoal
Google Women's 1/4 Zip Performance Pullover Black
Google Women's 1/4 Zip Performance Pullover Two-Tone Blue
Google Women's Coder Tee Navy
Google Women's Colorblock Tee White
Google Women's Convertible Vest-Jacket Black
Google Women's Convertible Vest-Jacket Sea Foam Green
Google Women's Fleece Hoodie
Google Women's Lightweight Microfleece Jacket
Google Women's Long Sleeve Blended Cardigan Charcoal
Google Women's Long Sleeve Tee Lavender
Google Women's Performance Golf Polo Blue
Google Women's Performance Hero Tee Gunmetal
Google Women's Performance Polo Grey/Black
Google Women's Quilted Insulated Vest Black
Google Women's Quilted Insulated Vest White
Google Women's Scoop Neck Tee Black
Google Women's Scoop Neck Tee Green
Google Women's Scoop Neck Tee White
Google Women's Shell Jacket Blue/Black
Google Women's Short Sleeve Badge Tee Grey
Google Women's Short Sleeve Badge Tee Navy
Google Women's Short Sleeve Badge Tee Red Heather
Google Women's Short Sleeve Hero Dark Grey
Google Women's Short Sleeve Hero Tee Black
Google Women's Short Sleeve Hero Tee Grey
Google Women's Short Sleeve Hero Tee Heather
Google Women's Short Sleeve Hero Tee Red Heather
Google Women's Short Sleeve Hero Tee Sky Blue
Google Women's Short Sleeve Hero Tee White
Google Women's Short Sleeve Performance Tee Black
Google Women's Short Sleeve Performance Tee Charcoal
Google Women's Short Sleeve Performance Tee Navy
Google Women's Short Sleeve Performance Tee Pewter
Google Women's Softshell Jacket Black/Grey
Google Women's Tee Grey
Google Women's Vintage Hero Tee Black
Google Women's Vintage Hero Tee Lavender
Google Women's Vintage Hero Tee Platinum
Google Women's Vintage Hero Tee White
Google Women's Yoga Jacket Black
Google Women's Yoga Pants
Google Women's Zip Hoodie Grey
Google Womens 3/4 Sleeve Baseball Raglan Heather/Black
Google Youth Baseball Raglan Heather/Black
Google Youth Girl Hoodie
Google Youth Girl Tee Green
Google Youth Short Sleeve T-shirt Green
Google Youth Short Sleeve T-shirt Royal Blue
Google Youth Short Sleeve T-shirt Yellow
Google Youth Short Sleeve Tee Red
Google Youth Short Sleeve Tee White
Google Youth Sports Tee Navy
Google Zip Hoodie Black
Men's Softshell Jacket Black/Grey
Men's Weatherblock Shell Jacket Black
Women's Performance Full Zip Jacket Black
Women's Weatherblock Shell Jacket Black
You Tube Toddler Short Sleeve Tee Red
YouTube 3 lines Tee Grey
YouTube Infant Short Sleeve Tee Red
YouTube Kids Onesie White
YouTube Kids Tee Black
YouTube Kids Tee White
YouTube Men's 3/4 Sleeve Henley
YouTube Men's Fleece Hoodie Black
YouTube Men's Long & Lean Tee Charcoal
YouTube Men's Long Sleeve Pullover Badge Tee Heather
YouTube Men's Short Sleeve Hero Tee  White
YouTube Men's Short Sleeve Hero Tee Black
YouTube Men's Short Sleeve Hero Tee Charcoal
YouTube Men's Short Sleeve Hero Tee White
YouTube Men's Skater Tee Charcoal
YouTube Men's Vintage Henley
YouTube Men's Vintage Tank
YouTube Men's Vintage Tee
YouTube Onesie Heather
YouTube Tee Black
YouTube Twill Cap
YouTube Women's Favorite Tee White
YouTube Women's Fleece Hoodie Black
YouTube Women's Racer Back Tank Black
YouTube Women's Short Sleeve Hero Tee Charcoal
YouTube Women's Short Sleeve Tri-blend Badge Tee Charcoal
YouTube Women's Short Sleeve Tri-blend Badge Tee Grey
YouTube Womens 3/4 Sleeve Baseball Raglan White/Black
YouTube Youth Short Sleeve Tee Red

Unique Products in Category 'Backpacks' (Sorted Alphabetically):
25L Classic Rucksack
Google Laptop Tech Backpack

Unique Products in Category 'Bags' (Sorted Alphabetically):
Collapsible Shopping Bag
Electronics Accessory Pouch
Google Alpine Style Backpack
Google Canvas Tote Natural/Navy
Google Laptop Backpack
Google Lunch Bag
Google Rolltop Backpack Blue
Google Rucksack
Google Slim Utility Travel Bag
Google Tote Bag
Google Zipper-front Sports Bag
Large Zipper Top Tote Bag
Reusable Shopping Bag
Softsided Travel Pouch Set
Sport Bag
Suitcase Organizer Cubes
Waterproof Backpack

Unique Products in Category 'Bottles' (Sorted Alphabetically):
22 oz Android Bottle
22 oz YouTube Bottle Infuser

Unique Products in Category 'Drinkware' (Sorted Alphabetically):
20 oz Stainless Steel Insulated Tumbler
23 oz Wide Mouth Sport Bottle
24 oz YouTube Sergeant Stripe Bottle
26 oz Double Wall Insulated Bottle
Android 17oz Stainless Steel Sport Bottle
Android 24 oz Contigo Bottle
Android 25 oz Green Apple Stainless Steel Bottle
Android Glass Water Bottle with Black Sleeve
Android Rise 14 oz Mug
Bottle Opener Clip
Engraved Ceramic Google Mug
Foam Can and Bottle Cooler
Google 17oz Stainless Steel Sport Bottle
Google 22 oz Water Bottle
Google 25 oz Blue Stainless Steel Bottle
Google 25 oz Red Stainless Steel Bottle
Google 40 oz Insulated Monster Bottle
Google Accent Insulated Stainless Steel Bottle
Google Hub Mug White
Google Infuser-Top Water Bottle
Google Insulated Stainless Steel Bottle
Google Thermal Bottle Blue
Google Thermal Bottle Green
Google Thermal Bottle Red
Google Thermal Bottle Yellow
Google White Force 17 oz Bottle
Insulated Bottle
Red Shine 15 oz Mug

Unique Products in Category 'Fun' (Sorted Alphabetically):
Android Luggage Tag
Google Luggage Tag
YouTube Luggage Tag

Unique Products in Category 'Gift Cards' (Sorted Alphabetically):
Gift Card - $10.00
Gift Card - $25.00
Gift Card - $250.00
Gift Card - $50.00
Gift Card- $100.00

Unique Products in Category 'Google' (Sorted Alphabetically):
Google 17 oz Double Wall Stainless Steel Insulated Bottle
Google 25 oz Clear Stainless Steel Bottle

Unique Products in Category 'Headgear' (Sorted Alphabetically):
Android Stretch Fit Hat L/XL
Android Stretch Fit Hat M/L
Android Stretch Fit Hat S/M
Android Wool Heather Cap Heather/Black
Google 5-Panel Cap
Google 5-Panel Snapback Cap
Google Blackout Cap
Google French Terry Cap
Google Snapback Black Cap
Google Snapback Hat Black
Google Snapback Navy Cap
Google Stretch Fit Hat L/XL Navy
Google Stretch Fit Hat M/L Navy
Google Stretch Fit Hat S/M Navy
Google Trucker Hat
Google Wool Heather Cap Heather/Navy
YouTube Trucker Hat
YouTube Wool Heather Cap Heather/Black

Unique Products in Category 'Housewares' (Sorted Alphabetically):
SPF-15 Slim & Slender Lip Balm

Unique Products in Category 'Lifestyle' (Sorted Alphabetically):
1 oz Hand Sanitizer
7&quot; Dog Frisbee
Android Lunch Kit
Compact Selfie Stick
Crunch Noise Dog Toy
Google Collapsible Pet Bowl
Google Executive Umbrella
Google Kick Ball
Google Pet Feeding Mat
Google Sunglasses
Seat Pack Organizer
Straw Beach Mat
Windup Android
Yoga Block
Yoga Mat Blue
Yoga Mat Purple

Unique Products in Category 'More Bags' (Sorted Alphabetically):
Google Collapsible Duffel Black
Google Collapsible Duffel Blue

Unique Products in Category 'Nest' (Sorted Alphabetically):
Nest  Thermostat E - CA
Nest Cam IQ - CA
Nest Cam IQ - USA
Nest Cam IQ Outdoor - USA (Preorder)
Nest Detect - USA
Nest Secure Alarm System Starter Pack - USA
Nest Tag - USA
Nest Thermostat E - USA

Unique Products in Category 'Nest-Canada' (Sorted Alphabetically):
Nest Cam Indoor Security Camera - CA
Nest Cam Outdoor Security Camera - CA
Nest Learning Thermostat 3rd Gen - CA - Stainless Steel
Nest Protect Smoke + CO White Battery Alarm - CA
Nest Protect Smoke + CO White Wired Alarm - CA

Unique Products in Category 'Nest-USA' (Sorted Alphabetically):
Nest Cam Indoor Security Camera - USA
Nest Cam Outdoor Security Camera - USA
Nest Learning Thermostat 3rd Gen-USA - Copper
Nest Learning Thermostat 3rd Gen-USA - Stainless Steel
Nest Learning Thermostat 3rd Gen-USA - White
Nest Protect Smoke + CO Black Battery Alarm-USA
Nest Protect Smoke + CO Black Wired Alarm-USA
Nest Protect Smoke + CO White Battery Alarm-USA
Nest Protect Smoke + CO White Wired Alarm-USA

Unique Products in Category 'Notebooks & Journals' (Sorted Alphabetically):
Android Hard Cover Journal
Android RFID Journal
Android Spiral Journal with Pen
Google Hard Cover Journal
Google Leather Journal-Black
Google Leather Journal-Brown
Google Leather Perforated Journal
Google RFID Journal
Google Spiral Journal with Pen
Google Spiral Leather Journal
YouTube Hard Cover Journal
YouTube RFID Journal
YouTube Spiral Journal with Pen
YouTube Transmission Journal Black

Unique Products in Category 'Office' (Sorted Alphabetically):
8 pc Android Sticker Sheet
Android Journal Book Set
Android Sticker Sheet Ultra Removable
Badge Holder
Ballpoint LED Light Pen
Ballpoint Pen & Matching Tube Case
Ballpoint Pen Blue
Ballpoint Stick Pen 4 Pack
Ballpoint Stylus Pen
Color Changing Grip Pen
Colored Pencil Set
Compact Journal with Recycled Pages
Executive Twist Ballpoint Pen
Four Color Retractable Pen
Galaxy Screen Cleaning Cloth
Gel Roller Pen
Google Ballpoint Pen Black
Google Doodle Decal
Google Laptop and Cell Phone Stickers
Google Large Standard Journal Grey
Google Large Standard Journal Navy
Google Metallic Notebook Set
Google Stylus Pen w/ LED Light
Grip Highlighter Pen 3 Pack
Gunmetal Roller Ball Pen
Keyboard DOT Sticker
Leather and Metal Ballpoint Pen
Leatherette Journal
Maze Pen
Metal Texture Roller Pen
Pen Pencil & Highlighter Set
Rainbow Stylus Pen
Recycled Paper Journal Set
Red Spiral Google Notebook
Retractable Ballpoint Pen Red
Rubber Grip Ballpoint Pen 4 Pack
Satin Black Ballpoint Pen
Spiral Notebook and Pen Set
Switch Tone Color Crayon Pen
Waterproof Gear Bag
YouTube Custom Decals
YouTube Leatherette Notebook Combo
YouTube Notebook and Pen Set

Unique Products in Category 'Waze' (Sorted Alphabetically):
Waze Baby on Board Window Decal
Waze Dress Socks
Waze Men's Short Sleeve Tee
Waze Men's Typography Short Sleeve Tee
Waze Mobile Phone Vent Mount
Waze Mood Happy Window Decal
Waze Mood Ninja Window Decal
Waze Mood Original Window Decal
Waze Women's Short Sleeve Tee
Waze Women's Typography Short Sleeve Tee

In [37]:
def categorize_product(description):
    # Convert description to lowercase for case-insensitive matching
    description_lower = description.lower()
    
    # Check if any of the specific keywords are present in the description
    if 'android' in description_lower:
        return 'Android'
    elif any(keyword in description_lower for keyword in ['google', 'nest', 'waze']):
        return 'Google'
    elif 'youtube' in description_lower:
        return 'YouTube'
    else:
        return 'No-Brand'
        
# Apply the categorization function to create a new column 'Product_Group'
sales['Product_Group'] = sales['Product_Description'].apply(categorize_product)

In [38]:

def update_category(category):
    if category == 'Android':
        return 'Apparel'
    elif category == 'Bottles':
        return 'Drinkware'
    elif category == 'Fun':
        return 'Accessories'
    elif category == 'Google':
        return 'Drinkware'
    elif category == 'More Bags':
        return 'Bags'
    elif category == 'Nest-Canada':
        return 'Nest'
    elif category == 'Nest-USA':
        return 'Nest'
    else:
        return category

# Applying the function to 'Product_Category' column using 'apply'
sales['Product_Category'] = sales['Product_Category'].apply(update_category)

In [39]:
# Preview sales data to check Product_Group column outcome
sales.head()

,CustomerID,Transaction_ID,Transaction_Date,Product_SKU,Product_Description,Product_Category,Quantity,Avg_Price,Delivery_Charges,Coupon_Status,...,Location,Tenure_Months,Month,InvoiceMonthly,InvoiceDaily,Coupon_Code,Discount_pct,GST,Revenue,Product_Group
0,17850,16679,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest,1,153.71,6.5,Used,...,Chicago,12,Jan,2019-01-31,2019-01-01,ELEC10,10.0,0.10,158.6729,Google
1,17850,16680,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest,1,153.71,6.5,Used,...,Chicago,12,Jan,2019-01-31,2019-01-01,ELEC10,10.0,0.10,158.6729,Google
2,17850,16681,2019-01-01,GGOEGFKQ020399,Google Laptop and Cell Phone Stickers,Office,1,2.05,6.5,Used,...,Chicago,12,Jan,2019-01-31,2019-01-01,OFF10,10.0,0.10,8.5295,Google
3,17850,16682,2019-01-01,GGOEGAAB010516,Google Men's 100% Cotton Short Sleeve Hero Tee...,Apparel,5,17.53,6.5,Not Used,...,Chicago,12,Jan,2019-01-31,2019-01-01,SALE10,10.0,0.18,109.9270,Google
4,17850,16682,2019-01-01,GGOEGBJL013999,Google Canvas Tote Natural/Navy,Bags,1,16.50,6.5,Used,...,Chicago,12,Jan,2019-01-31,2019-01-01,AIO10,10.0,0.18,24.0230,Google

In [40]:
sales.to_csv('sales_cleaned.csv')
marketing.to_csv('marketing_cleaned.csv')

## Customer Centric Analysis

In [41]:
total_quantity = sales.groupby(['CustomerID', 'Product_Category'])['Quantity'].sum().reset_index()

In [42]:
total_quantity.head()

   CustomerID Product_Category  Quantity
0       12346          Apparel         1
1       12346           Office         2
2       12347      Accessories         1
3       12347          Apparel       231
4       12347             Bags         6

In [43]:
# Calculate total spending per customer
total_spending = sales.groupby('CustomerID')['Avg_Price'].sum().reset_index()

# Calculate total delivery charges per customer
delivery_charges = sales.groupby('CustomerID')['Delivery_Charges'].sum().reset_index()

# Calculate total number of transactions per customer
num_transactions = sales.groupby('CustomerID')['Transaction_ID'].count().reset_index()

# Calculate total quantity purchased per customer
total_quantity = sales.groupby('CustomerID')['Quantity'].sum().reset_index()

# Merge total spending, delivery charges, number of transactions, and total quantity DataFrames
customer_analysis = pd.merge(total_spending, delivery_charges, on='CustomerID')
customer_analysis = pd.merge(customer_analysis, num_transactions, on='CustomerID')
customer_analysis = pd.merge(customer_analysis, total_quantity, on='CustomerID')

# Extract location from each customer
unique_locations = sales.groupby('CustomerID')['Location'].first().reset_index()
# Merge unique_locations to customer analysis dataframe
customer_analysis = pd.merge(customer_analysis, unique_locations, on='CustomerID')

# Extract gender from each customer
unique_gender = sales.groupby('CustomerID')['Gender'].first().reset_index()
# Merge unique_gender to customer analysis dataframe
customer_analysis = pd.merge(customer_analysis, unique_gender, on='CustomerID')

# Extract tenure months for each customer
unique_tenure_months = sales.groupby('CustomerID')['Tenure_Months'].first().reset_index()
# Merge unique_tenure_months to customer_analysis dataframe
customer_analysis = pd.merge(customer_analysis, unique_tenure_months, on='CustomerID')

# Count of 'Used' coupons per customer and merge into 'customer_analysis' without duplicates
used_coupons_count = sales[sales['Coupon_Status'] == 'Used'].groupby('CustomerID')['Coupon_Status'].count().reset_index()
used_coupons_count.columns = ['CustomerID', 'Used_Coupon_Count']
customer_analysis = pd.merge(customer_analysis, used_coupons_count, on='CustomerID', how='left').fillna(0)

# Count of 'Not Used' coupons per customer and merge into 'customer_analysis' without duplicates
not_use_coupons_count = sales[sales['Coupon_Status'] == 'Not Used'].groupby('CustomerID')['Coupon_Status'].count().reset_index()
not_use_coupons_count.columns = ['CustomerID', 'Not_Use_Coupon_Count']
customer_analysis = pd.merge(customer_analysis, not_use_coupons_count, on='CustomerID', how='left').fillna(0)

# Count of 'Click' coupons per customer and merge into 'customer_analysis' without duplicates
click_coupons_count = sales[sales['Coupon_Status'] == 'Clicked'].groupby('CustomerID')['Coupon_Status'].count().reset_index()
click_coupons_count.columns = ['CustomerID', 'Clicked_Coupon_Count']
customer_analysis = pd.merge(customer_analysis, click_coupons_count, on='CustomerID', how='left').fillna(0)

# Extract revenue of each customer
revenue = sales.groupby('CustomerID')['Revenue'].sum().reset_index()
# Merge revenue to customer_analysis dataframe
customer_analysis = pd.merge(customer_analysis, revenue, on='CustomerID')

# Rename columns 
customer_analysis.columns = ['CustomerID', 'Total_Spending', 'Delivery_Charges', 'Num_Transactions', 'Total_Quantity', 'Location', 'Gender', 'Tenure_Months', 'Used_Coupon_Count', 'Not_Use_Coupon_Count', 'Clicked_Coupon_Count', 'Revenue']

In [44]:
# Preview customer_analysis
customer_analysis.head(10)

,CustomerID,Total_Spending,Delivery_Charges,Num_Transactions,Total_Quantity,Location,Gender,Tenure_Months,Used_Coupon_Count,Not_Use_Coupon_Count,Clicked_Coupon_Count,Revenue
0,12346,25.49,150.00,2,3,New York,F,31,2.0,0.0,0.0,174.98174
1,12347,3746.16,665.14,60,342,New York,M,20,20.0,14.0,26.0,15686.84396
2,12348,336.52,197.15,23,209,California,M,39,11.0,1.0,11.0,1689.55594
3,12350,1312.40,127.88,17,21,California,M,25,6.0,3.0,8.0,1467.43528
4,12356,1244.83,637.49,36,56,Chicago,F,31,11.0,8.0,17.0,2007.42900
5,12359,235.41,96.00,16,86,New York,M,41,2.0,5.0,9.0,784.03320
6,12370,3965.71,692.98,91,613,New York,F,21,21.0,18.0,52.0,8059.28482
7,12373,420.30,102.96,14,22,New York,F,23,3.0,2.0,9.0,595.56606
8,12377,5060.61,771.68,77,421,California,F,27,21.0,12.0,44.0,11244.90066
9,12383,3078.59,593.79,69,185,New York,M,32,21.0,10.0,38.0,5865.09956

In [45]:
# Summary of custome_analysis
customer_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1468 entries, 0 to 1467
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            1468 non-null   int64
 1   Total_Spending        1468 non-null   float64
 2   Delivery_Charges      1468 non-null   float64
 3   Num_Transactions      1468 non-null   int64
 4   Total_Quantity        1468 non-null   int64
 5   Location              1468 non-null   object
 6   Gender                1468 non-null   object
 7   Tenure_Months         1468 non-null   int64
 8   Used_Coupon_Count     1468 non-null   float64
 9   Not_Use_Coupon_Count  1468 non-null   float64
 10  Clicked_Coupon_Count  1468 non-null   float64
 11  Revenue               1468 non-null   float64
dtypes: float64(6), int64(4), object(2)
memory usage: 137.8+ KB

In [46]:
# Statistics summary of Revenue column in customer_analysis
customer_analysis['Revenue'].describe()

count     1468.000000
mean      3676.674895
std       5846.082106
min          6.990000
25%        783.974310
50%       2011.622610
75%       4495.056630
max      87200.896260
Name: Revenue, dtype: float64

In [47]:
customer_analysis.head()

,CustomerID,Total_Spending,Delivery_Charges,Num_Transactions,Total_Quantity,Location,Gender,Tenure_Months,Used_Coupon_Count,Not_Use_Coupon_Count,Clicked_Coupon_Count,Revenue
0,12346,25.49,150.00,2,3,New York,F,31,2.0,0.0,0.0,174.98174
1,12347,3746.16,665.14,60,342,New York,M,20,20.0,14.0,26.0,15686.84396
2,12348,336.52,197.15,23,209,California,M,39,11.0,1.0,11.0,1689.55594
3,12350,1312.40,127.88,17,21,California,M,25,6.0,3.0,8.0,1467.43528
4,12356,1244.83,637.49,36,56,Chicago,F,31,11.0,8.0,17.0,2007.42900

In [48]:
#customer_analysis.to_csv('customer_analysis.csv')

## Customer Purchased Product Analysis

In [49]:
# Extract unique Product_Description for each customer
cus_prod = sales.groupby('CustomerID')['Product_Description'].unique().reset_index()
# Extract unique Product_SKU for each customer
cus_sku = sales.groupby('CustomerID')['Product_SKU'].unique().reset_index()
# Extract unique Product_Category for each customer
prod_cat = sales.groupby('CustomerID')['Product_Category'].unique().reset_index()
# Extract unique Product Group for each customer
cus_group = sales.groupby('CustomerID')['Product_Group'].unique().reset_index()

# Merge cus_prod, cus_sku, prod_cat, and cus_group together
product_analysis = pd.merge(cus_prod, cus_sku, on='CustomerID')
product_analysis = pd.merge(product_analysis, prod_cat, on='CustomerID')
product_analysis = pd.merge(product_analysis, cus_group, on='CustomerID')

# Rename columns
product_analysis.columns = ['CustomerID', 'Purchased_Products', 'Products_SKUs', 'Product_Categories', 'Product_Group']

In [50]:
# Preview product_analysis
product_analysis.head()

,CustomerID,Purchased_Products,Products_SKUs,Product_Categories,Product_Group
0,12346,[Android Men's Engineer Short Sleeve Tee Charc...,"[GGOEAAAJ080816, GGOEGOAR013099]","[Apparel, Office]","[Android, Google]"
1,12347,"[Four Color Retractable Pen, Red Spiral Google...","[GGOEGOAQ020099, GGOEGOCT019199, GGOENEBJ07949...","[Office, Nest, Bags, Drinkware, Headgear, Appa...","[No-Brand, Google, YouTube, Android]"
2,12348,"[26 oz Double Wall Insulated Bottle, Google St...","[GGOEGDHQ015399, GGOEGOAR013099, GGOEGBMJ01339...","[Drinkware, Office, Bags, Lifestyle, Apparel, ...","[No-Brand, Google, YouTube]"
3,12350,[Nest Learning Thermostat 3rd Gen-USA - Stainl...,"[GGOENEBJ079499, GGOENEBQ081599, GGOEGAEL09131...","[Nest, Apparel, Headgear]",[Google]
4,12356,"[YouTube Men's Short Sleeve Hero Tee White, R...","[GGOEYAAQ031717, GGOEGDWR015799, GGOEGADC05931...","[Apparel, Drinkware, Nest, Bags, Office, Lifes...","[YouTube, No-Brand, Google, Android]"

In [51]:
product_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1468 entries, 0 to 1467
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          1468 non-null   int64
 1   Purchased_Products  1468 non-null   object
 2   Products_SKUs       1468 non-null   object
 3   Product_Categories  1468 non-null   object
 4   Product_Group       1468 non-null   object
dtypes: int64(1), object(4)
memory usage: 57.5+ KB

In [52]:
#product_analysis.to_csv('product_analysis.csv')